<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styles/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    
    <header>
        <h1>Welcome to your To-Do-List!</h1>
    </header>
    <section>
        <article style="float: left;">
            <h2>Current To-Do-List:</h2>
            <ol>
                <!--Add box arnd each todo(section li,dl,dd. NOT THE {}.)-->
                {% for todo in todos %} 
                    <li>Name : {{todo['Name']}}</li>
                    <dl>
                        <dd>Description : {{todo['Desc']}}</dd>
                    </dl>
                {% endfor %}
            </ol>
        </article>
        <article style="float: right;">
            <h2>Edit To-Do-List:</h2>
            <p>(NOTE: text is case sensitive.)</p>
            <form id="form1" action="{{url_for('hello')}}" method="post">
                <input required type="text" placeholder="Task Name" name="todoName">
                <br>
                <input required type="text" placeholder="Task Description" name="todoDesc">
                <br>
                <button id="add" type="Submit">Create</button>
            </form>
            <br>
            <form id="form2" action="{{url_for('delete')}}" method="post">
                <input required type="text" placeholder="Task Name" name="todoDel">
                <br>
                <button id="del" type="Submit">Delete</button>
            </form>
            <br>
            <!--LAST FUNCTION TO FINISH!!!! VVVVV-->
            <form id="form3" action="{{url_for('update')}}" method="post">
                <input required type="text" placeholder="Task Name" name="todoUpd">
                <br>
                <input required type="text" placeholder="NEW Name" name="updName">
                <br>
                <input required type="text" placeholder="NEW Description" name="updDesc">
                <br>
                <button id="add" type="Submit">Update</button>
            </form>
        </article>
        <footer>
            <p id="silly">\(^-^)/</p>
        </footer>
    </section>
</body>
</html>