@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
body{
    background-color: black;
    color: white;
    font-family: "Silkscreen", sans-serif;
    font-weight: 500;
    font-style: normal;
}
section {
    width: 900px;
    margin: auto;
}
header {
    text-align: center;
    background-color: gray;
    width: 900px;
    height: 100px;
    line-height: 100px;
    margin: auto;
}
article {
    background-color: rgb(85, 85, 85);
    height: 550px ;
    width: 400px ;
    margin: 10px ;
    padding: 10px;
    overflow: auto;
}
footer {
    text-align: left;
    background-color: gray;
    width: 100%;
    height: 60px;
    clear: both;
}
h2 { 
    text-decoration: underline;
    text-align: center;
}
ol {
    background-color: gray;
    margin: 5px;
}
dd {
    color: rgb(200, 200, 200);
}
button {
    display: inline-block;
    border: none;
    color: white;
    background-color: black;
    border-radius: 5px;
    font-family: "Silkscreen", sans-serif;
    font-weight: 500;
    font-style: normal;
}
input {
    font-family: "Silkscreen", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: green;
    border: solid, 3px, rgb(197, 197, 197);
    margin-bottom: 5px;
}
input:focus {
    outline: none;
    border: solid, 3px, rgb(85, 85, 85);
    background-color: rgb(197, 197, 197);
  }
form {
    background-color: gray;
    padding: 10px;
    margin: 5px;
}
#silly {
    margin: auto;
    background-color: rgb(85,85,85);
    width: 68px;
    padding: 10px;
}